APP_ENV=dev
DATABASE_URL=postgresql+psycopg://app_pipeline_user:app_pipeline_password@localhost:5432/app_pipeline_db

# AWS Cognito Configuration
COGNITO_REGION=
COGNITO_USER_POOL_ID=
COGNITO_APP_CLIENT_ID=
